name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  push-image:
    name: Push image
    # We don't push images on pull requests
    if: github.event_name != 'pull_request'
    permissions:
      contents: read #  to fetch code (actions/checkout)
      packages: write #  to push docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        id: setup-buildx

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set container metadata
        uses: docker/metadata-action@v5
        id: meta
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: index,manifest
        with:
          images: ghcr.io/${{ github.repository_owner }}/nfs-dynamic-dns
          # Pushes to the main branch update the *:devel-latest tag
          # Releases update the *:latest tag and the *:<version> tag
          tags: |
            type=raw,value=main,enable=${{ github.ref == 'refs/heads/main' }}
      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          # Only push if we've tagged the image in the metadata step
          push: ${{ steps.meta.outputs.tags != '' }}
          tags: ${{ steps.meta.outputs.tags }}
